body {
  margin: 0;
  font-family: 'Segoe UI';
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

/* container */
.container {
  text-align: center;
}

/* splash */
.splash {
  position: fixed;
  inset: 0;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: opacity 0.6s ease;
}

/* logo */
.logo {
  font-size: 60px;
  display: flex;
  gap: 10px;
}

.x {
  color: #00ffd5;
  animation: float 2s infinite;
}

.o {
  color: #ff4d6d;
  animation: float 2s infinite;
}

.title {
  animation: glow 2s infinite alternate;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #00ffd5;
  }

  to {
    text-shadow: 0 0 25px #00ffd5;
  }
}

/* board */
.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 10px;
  margin-top: 20px;
}

.cell {
  width: 100px;
  height: 100px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}

.cell:hover {
  transform: scale(1.1);
}

/* win */
.win {
  background: #00ffcc !important;
}

/* controls */
button,
select {
  padding: 10px;
  margin: 5px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

/* mobile */
@media(max-width:600px) {
  .board {
    grid-template-columns: repeat(3, 80px);
  }

  .cell {
    width: 80px;
    height: 80px;
    font-size: 30px;
  }
}